<app-organizer-dashboard></app-organizer-dashboard>

<div class="container">

  <form class="form-inline" style="width: 25vw;">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
      name="searchQuery" [(ngModel)]="searchQuery" (keyup)="filterfunction()" (keydown)="filterfunction()">
   
  </form><br><br>
    <div class="container">

   
    <h3>List of Events</h3><br>
    <table class="table table-bordered table-responsive text-center table-striped" >
        <thead class="table-dark">
          <tr>
            <th>Event Id</th>
            <th >Event Title</th>
            <th >Event StartTme</th>
            <th >Event EndTme</th>
            <th>Event Location</th>
            <th>Event Cost</th>
            <th>Event Type</th>
            <th>Number of Tickets</th>
            <th>Platform Payment</th>
            <th>Event Description</th>
            <th>Action</th>

          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let d of eventData">
            <td>{{d.eventId}}</td>
            <td>{{d.eventTitle}}</td>
            <td>{{d.eventStartTime | date}}</td>
            <td>{{d.eventEndTime | date}}</td>
            <td>{{d.eventLocation}}</td>
            <td>{{d.eventPrice}}</td>
            <td>{{d.eventType}}</td>
            <td>{{d.totalTickets}}</td>
            <td>{{d.payToPlatform}}</td>
            <td>{{d.eventDescription}}</td>
            <td>
                <button class="btn btn-danger" (click)="updateEvent(d)">Update</button>
            </td> 
          </tr>
        </tbody>
      </table>
    </div>
    </div>

    <app-update-event [selectedEvent]="selectedEvent" ></app-update-event>

    
  

    